<div class="kotak">
    <div class="container mt-4">
      <h2>Edit Company</h2>
  
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" value="">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" id="address" name="address" class="form-control" value="">
      </div>
      <div class="mb-3">
        <label for="website" class="form-label">Website</label>
        <input type="text" id="website" name="website" class="form-control" value="">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" class="form-control"></textarea>
      </div>
      
      
    </div>
  
  <style>
      .kotak{
          margin-left: 15%;
      }
    </style>