
<div class="kotak">
  <div class="container mt-4">
    <h2>Edit Company</h2>

    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Errors -->
      <div *ngIf="errors?.name" class="alert alert-danger mt-3">
        {{ errors?.name }}
      </div>
      <div *ngIf="errors?.website" class="alert alert-danger mt-3">
        {{ errors?.website }}
      </div>
      <div *ngIf="errors?.address" class="alert alert-danger mt-3">
        {{ errors?.address }}
      </div>
      <div *ngIf="errors?.description" class="alert alert-danger mt-3">
        {{ errors?.description }}
      </div>

      <!-- Edit form -->
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="{{ organization.name }}" />
      </div><br>
      <div class="form-group">
        <label>Website</label>
        <input type="url" class="form-control" formControlName="website" placeholder="{{ organization.website}}" />
      </div><br>
      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" formControlName="address" placeholder="{{ organization.address }}"/>
      </div><br>
      <div class="form-group">
        <label>Description</label>
        <input type="description" class="form-control" formControlName="description" placeholder="{{ organization.description }}"/>
      </div><br>
      <button type="submit" class="btn btn-block btn-primary">
        Edit Company
      </button>
    </form>
  </div>

<style>
    .kotak{
        margin-left: 15%;
    }
  </style>