<nav *ngIf="!isSignedIn" class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand">
        Customer Relationship Management
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav me-auto">
  
        </ul>
  
        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ms-auto">
          <!-- Authentication Links -->
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!isSignedIn" routerLink="/login">Login</a>
            <button class="btn btn-outline-primary" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <nav *ngIf="isSignedIn" class="navbar bg-dark sticky-top shadow-sm">
    <div class="container">
      <a class="navbar-brand text-white" *ngIf="user?.role.includes('super-admin')">CRM</a>
      <a class="navbar-brand text-white" *ngIf="user?.role.includes('admin') || user?.role.includes('user')">{{ user.user.organization.name }}</a>
  
      <li class="dropdown">
        <a class="dropdown-toggle text-decoration-none text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user?.user.name }}
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="/profile" *ngIf="isSignedIn"><i class="bi bi-person-fill me-2"></i>Profile</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            
            <a class="dropdown-item" id="logout-anchor" (click)="signOut()" *ngIf="isSignedIn"><i class="bi bi-key-fill me-2"></i>Sign out</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="container-fluid px-0">
        <div class="row mx-0 px-0">
          <nav class="col-2 h-100 px-0 navbar position-fixed navbar-expand-lg bg-dark d-flex align-items-start">
        <div class="container px-0">
          <ul class="navbar-nav flex-column mx-auto">
            <li class="nav-item">
               <!-- bg-primary bg-gradient <- after click becomes this -->
              <a class="nav-link ps-3 pe-5 text-white" routerLink="/dashboard">
                <i class="bi bi-house-door-fill me-2"></i>
                Dashboard
              </a>
            </li>
                <li class="nav-item" *ngIf="user?.role.includes('super-admin') || user.role.includes('admin')">
                <a class="nav-link  ps-3 pe-5 text-white" routerLink="/table-user">
                  <i class="bi bi-people-fill me-2"></i>
                  Users
                </a>
              </li>
                <!--<li class="nav-item" *ngIf="user.role.includes('admin') || user.role.includes('user')">
                <a class="nav-link  ps-3 pe-5 text-white" routerLink="/table-client">
                  <i class="bi bi-person-lines-fill me-2"></i>
                  Employees
                </a>
              </li>-->
                <li class="nav-item" *ngIf="user?.role.includes('super-admin')">
                <a class="nav-link  ps-3 pe-5 text-white" routerLink="/table-organization">
                  <i class="bi bi-door-open-fill me-2"></i>
                  Company
                </a>
              </li>   
              <li class="nav-item" *ngIf="user.role.includes('admin') || user.role.includes('user')">
                <a class="nav-link ps-3 pe-5 text-white" routerLink="/list-project">
                  <i class="bi bi-incognito me-2"></i>
                  Projects
                </a>
              </li>
                <li class="nav-item" *ngIf="user.role.includes('admin') || user.role.includes('user')">
                <a class="nav-link  ps-3 pe-5 text-white" routerLink="/table-customer">
                  <i class="bi bi-clipboard2-check-fill me-2"></i>
                  Customer
                </a>
              </li>
                <li class="nav-item" *ngIf="user?.role.includes('super-admin')">
                <a class="nav-link  ps-3 pe-5 text-white" routerLink="/list-roles">
                  <i class="bi bi-incognito me-2"></i>
                  Roles
                </a>
              </li>
                </ul>
        </div>
        </nav>
        </div>
        </div>
      </nav>
      <main class="py-4">
        <div class="container">
      <div class="row justify-content-center">
        <router-outlet></router-outlet>
      </div>
      </div>
      </main>
      
      
      
