<div class="kotak">
    
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" value="">
      </div>
      <div class="mb-3">
        <label class="form-label">Permissions</label>
        <!-- <div class="mb-3">
            <label class="form-label">Permissions</label>
            @foreach ($permissions as $permission)
                <div class="form-check">
                <input type="checkbox" id="{{ $permission->title }}" name="permissions[]" value="{{ $permission->title }}" class="form-check-input">
                <label for="{{ $permission->title }}" class="form-check-label">{{ $permission->title }}</label>
                </div>
            @endforeach
            </div>
            -->
      </div>
      

  <style>
    .kotak{
        margin-left: 15%;
    }
  </style>
  