<div class="kotak">
    <div class="card">
        <div class="card-body d-flex pt-4">
          <div class="col-3 pe-2">
            <div class="mb-3">
              <h6 class="card-subtitle text-muted mb-1">Organization name</h6>
              <h2 class="card-subtitle"><!-- Replace this with your organization's name --></h2>
            </div>
            <div>
              <a href="<!-- Replace this with the edit URL -->" class="btn btn-warning btn-sm my-1">Edit organization</a>
              <form action="<!-- Replace this with the delete URL -->" method="POST" class="my-1">
                <button type="submit" class="btn btn-danger btn-sm">Delete organization</button>
              </form>
            </div>
          </div>
          <div class="col-2 px-3">
            <div class="mb-3">
              <h6 class="card-subtitle text-muted mb-1">Address</h6>
              <h6 class="card-subtitle"><!-- Replace this with your organization's address --></h6>
            </div>
            <div class="align-bottom">
              <h6 class="card-subtitle text-muted mb-1">Website</h6>
              <h6 class="card-subtitle">
                <a href="<!-- Replace this with your organization's website link -->">Link</a>
              </h6>
            </div>
          </div>
          <div class="ps-2">
            <h6 class="card-subtitle text-muted mb-1">Description</h6>
            <p class="card-subtitle"><!-- Replace this with your organization's description --></p>
          </div>
        </div>
      </div>
      
  
  <style>
      .kotak{
          margin-left: 15%;
      }
    </style>