<div class="kotak">
    <div class="container mt-4">
      <h2>Create Employees</h2>
  
      <form [formGroup]="clientForm">
          <label class="col-sm-2 col-form-label">Organization</label>
          <div class="col-sm-10">
            <select formControlName="organization_id" class="form-control">
              <option value="">--Select--</option>
              <option [value]="organization.id" *ngFor="let organization of OrganizationList">
                {{organization.name}}
              </option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <select formControlName="name" class="form-control">
              <option value="">--Select--</option>
              <option [value]="user.name" *ngFor="let user of UserList">
                {{user.name}}
              </option>
            </select>
          </div>
          <br>
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <select formControlName="email" class="form-control">
              <option value=""></option>
              <option [value]="user.email" *ngFor="let user of UserList">
                {{user.email}}
              </option>
            </select>
          </div><br>
          <label class="col-sm-2 col-form-label">Phone Number</label>
          <div class="col-sm-10">
            <select formControlName="phone" class="form-control">
              <option value=""></option>
              <option [value]="user.phone" *ngFor="let user of UserList">
                {{user.phone}}
              </option>
            </select>
          </div><br>
          <br> 
          <div class="col-sm-10">
            <button class="btn btn-primary" (click)="createClient()">Create Client</button>
          </div>
      </form>
    </div>

  <style>
      .kotak{
          margin-left: 15%;
      }
    </style>

