<div *ngIf="statistics">
  <div class="row mx-0 px-0">
    <nav class="col-2 h-200 px-0 navbar position-fixed navbar-expand-lg bg-white d-flex align-items-start">
  </nav>
  <div class="col-2"></div>
  <div class="col-10 py-3">
        <div class="card-group">
        <div class="card">
      <div class="card-body">
          <h4 class="card-title">{{ statistics.Users }}</h4>
          <p class="card-text"><small class="text-muted">Users</small></p>
      </div>
    </div>
      <!--  <div class="card">
      <div class="card-body">
          <h4 class="card-title">{{ statistics.Clients }}</h4>
          <p class="card-text"><small class="text-muted">Users</small></p>
      </div>
    </div>-->
        <div class="card">
      <div class="card-body">
          <h4 class="card-title"> {{ statistics.Organizations }}</h4>
          <p class="card-text"><small class="text-muted">Company</small></p>
      </div>
    </div>
        <div class="card">
      <div class="card-body">
          <h4 class="card-title">{{ statistics.Projects }}</h4>
          <p class="card-text"><small class="text-muted">Projects</small></p>
      </div>
    </div>
        <div class="card">
      <div class="card-body">
          <h4 class="card-title"> {{ statistics.Tasks }}</h4>
          <p class="card-text"><small class="text-muted">Customer</small></p>
      </div>
    </div>
    </div>
  </div>
</div>
