<div class="kotak">
  <div class="container mt-4">
    <h2>Create User</h2>

    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Errors -->
      <div *ngIf="errors?.name" class="alert alert-danger mt-3">
        {{ errors?.name }}
      </div>
      <div *ngIf="errors?.email" class="alert alert-danger mt-3">
        {{ errors?.email }}
      </div>
      <div *ngIf="errors?.phone" class="alert alert-danger mt-3">
        {{ errors?.phone }}
      </div>
      <div *ngIf="errors?.organization" class="alert alert-danger mt-3">
        {{ errors?.organization }}
      </div>

      <!-- Signup form -->
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" required/>
      </div><br>
      <div class="form-group">
        <label for="status_id" class="form-label">Status</label><br>
        <select id="status_id" name="status_id" formControlName="status_id" >
          <option value="">Select Status</option>
          <option *ngFor="let client of clients" [value]="client.id">
            {{ client.id }}
          </option>
        </select>
      </div><br>
      <div class="form-group">
        <label for="clint_id" class="form-label">Client</label><br>
        <select id="client_id" name="status_id" formControlName="status_id" >
          <option value="">Select Status</option>
          <option *ngFor="let client of clients" [value]="client.id">
            {{ client.id }}
          </option>
        </select>
      </div><br>
      <div class="form-group">
        <label for="user_id" class="form-label">Manager</label><br>
        <select id="user_id" name="user_id" formControlName="user_id" >
          <option value="">Select Status</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.id }}
          </option>
        </select>
      </div><br>
      <div class="form-group">
        <label>Deadline</label>
        <input type="date" class="form-control" formControlName="deadline" required/>
      </div><br>
      <div class="form-group">
        <label>Description</label>
        <textarea type="description" class="form-control" formControlName="description" ></textarea>
      </div><br>
      
      <button type="submit" class="btn btn-block btn-primary">
        Create Project
      </button>
    </form>
  </div>

<style>
    .kotak{
        margin-left: 15%;
    }
</style>